.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-star {
  margin: 0.5em;
  font-size: 24px;
}

.container div {
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

span {
  display: inline-block;
  margin: 0.5em;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  color: #bbb;
  background-color: #bfb;
  border: 1px solid #bbb;
  cursor: not-allowed;
}

.used {
  color: #bbb;
  background-color: #fbb;
  border: 1px solid #bbb;
  cursor: not-allowed;
}
